.indicators {
  .indicator {
    padding: 30px;
    background-color: #f1f1f1;
  }
}

.carousel {
  width: 100%;
  margin: 0 auto;

  .indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 30px;
  }
}

.slide {
  overflow: hidden;
  height: 100%;
  background-size: cover;
  background-image: url(http://static-oss.vivedu.com/home/banner/design.min.jpg);
}

.text {
  position: absolute;
  top: 300px;
  left: 200px;
  color: #fff;
}
